body {
    width: 800px;
    margin: auto;
    font-family: Georgia, serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
}
.content {
    padding-top: 25px;
}
h1 {
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    font-weight: normal;
    line-height: 26px;
}
.block {
    width: 400px;
    float: left;
    visibility: visible;
    padding-bottom: 30px;
}
#bio {
    padding-top: 30px;
}
hr {
    border: 1px solid rgb(72, 72, 72);
    margin: 0px;
    width: 800px;
}
.photo {
    width: 290px;
    height: 380px;
    border: 2px solid rgb(72, 72, 72);
}
