{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="content">
            <h1>42 Coffee Cups Test Assignment</h1>
            <form>
                {% csrf_token %}
                <div class="block" id="align-right">
                    <p>
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </p>
                    <p>
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </p>
                    <p>
                        {{ form.date_birth.label_tag }}
                        {{ form.date_birth }}
                    </p>
                    <p>
                        {{ form.photo.label_tag }}
                        {{ form.photo }}
                    </p>
                <div>
                    <img id="photo" src="{{ STATIC_URL }}{{ MEDIA_URL }}{{ form.photo.value }}" alt="Photo">
                </div>
                </div>
                <div class="block">
                    <div id="align-right">
                        <p>
                            {{ form.email.label_tag }}
                            {{ form.email }}
                        </p>
                        <p>
                            {{ form.jabber.label_tag }}
                            {{ form.jabber }}
                        </p>
                        <p>
                            {{ form.skype.label_tag }}
                            {{ form.skype }}
                        </p>
                    </div>
                    <p>{{ form.other_contacts.label_tag }}</p>
                    <p>{{ form.other_contacts }}</p>
                    <div id="bio">
                        <p id="padding-bio">{{ form.bio.label_tag }}</p>
                        <p>{{ form.bio }}</p>
                    </div>
                </div>
                <div class="form-control">
                    <div id="status"></div>
                    <input type="submit" value="Save">
                    <a href="{% url 'index' %}">Cancel</a>
                    <img id="loader" src="{{ STATIC_URL }}/gifs/ajax-loader.gif" alt="loader">
                </div>
            </form>
        </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}