{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div>
            <h1>42 Coffee Cups Test Assignment</h1>
        </div>
        <div class="block" id="fullname">
            <p>Name: Denis</p>
            <p>Last name: Svistunov</p>
            <p>Date of birth: 1991-04-19</p>
            <p id="bio">Bio:</p>
            <p>Lorem ipsum</p>
        </div>
        <div class="block" id="contacts">
            <p>Contacts</p>
            <p>Email: d.svistunov1991@gmail.com</p>
            <p>Jabber: d.svistunov@42cc.co</p>
            <p>Skype: dsvistunov</p>
            <p>Other contacts:</p>
            <p>+380632028013</p>
        </div>
    </div>
{% endblock %}