{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div>
            <h1>42 Coffee Cups Test Assignment</h1>
        </div>
        <div class="block" id="fullname">
            <p>Name: {{ data.first_name }}</p>
            <p>Last name: {{ data.last_name }}</p>
            <p>Date of birth: {{ data.date_birth }}</p>
            <p>Photo:</p>
            <img src="{{ data.photo.url|default_if_none:'#' }}" alt="Photo">
        </div>
        <div class="block" id="contacts">
            <p>Contacts</p>
            <p>Email: {{ data.email }}</p>
            <p>Jabber: {{ data.jabber }}</p>
            <p>Skype: {{ data.skype }}</p>
            <p>Other contacts:</p>
            <p>{{ data.other_contacts | linebreaks }}</p>
            <p id="bio">Bio:</p>
            <p>{{ data.bio | linebreaks}}</p>
        </div>
    </div>
{% endblock %}